<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="mamon.js"></script>
    <style type="text/css">
        #mamon {
            background:#fafafa;
            border:5px solid #7DC1C4;
            border-radius:4px;
            position: absolute;
                right:20px;
                top:20px;
            padding:6px 5px;
            text-align:center;
        }
    </style>
</head>
<body>

    <script type="text/javascript">
        var mamon = new MamonClient();
        mamon.feed();
    </script>

</body>
</html>
